.ctn-themes{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ctn-themes h1{
    font-size: 0.9rem;
}

.theme{
    display: flex;
    align-items: center;
    gap: 15px;
}

.theme input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  background: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.theme input[type="checkbox"]:checked {
  background: #389e3c;
  box-shadow: 0px 0px 7px 2px #f5f5f550;
}

.card-theme{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 7px;
    border: 1px solid var(--color-line);
    border-radius: var(--border);
    gap: 10px;
}

.card-theme img{
    display: flex;
    width: 25px;
    border: 1px solid var(--color-line);
    border-radius: 5px;
}

.card-theme h1{
    font-size: 0.9rem;
    font-weight: 500;
    color: #d9d9d9c8;
}